<!---------------------------------------------------------------------------------------------HISTORIA Y VIDEO DE LOS 3 HERMANOS -------------------------------------------------------------->
<div class="container d-lg-flex justify-content-center mb-5">
    <div class="card mb-3 border-0 py-4 px-4" style="max-width: 48rem;">
        <div class="card-body">
            <h2 class="card-title text-uppercase">Descarga nuestra</h2>
            <h2 class="card-title text-uppercase">Aplicación</h2>
            <p class="card-text">Descubre todas nuestras ofertas y promociones en nuestra aplicación móvil.</p>
        </div>
    </div>
    <div class="card1 mb-3 border-0 py-4 px-4 text-white" style="max-width: 48rem;">
        <div class="card-body">
            <h5 class="card-title mb-3">App Móvil de Los 3 Hnos</h5>
            <p class="card-text">Accede a nuestras promociones y compra tus cereales favoritos desde tu móvil.</p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="header-right text-center">
        <div class="row">
            <!-- Para pantallas grandes (lg) -->
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
                <iframe width="100%" height="400" src="https://www.youtube.com/watch?v=9QWE3i8MpoA&pp=ygUFdGFyd2k%3D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container mb-4">
    <h2 class="text-uppercase text-center fw-bold text-secondary py-4">Acerca de Los 3 Hnos S.R.L.</h2>
    <div class="row g-0 bg-body-secondary position-relative mb-5">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="img/carrucel1.jpg" class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h2 class="mt-0 fw-bold py-3">MISIÓN</h2>
            <p>Nuestra misión es proporcionar cereales de la más alta calidad, comprometidos con la salud y el bienestar de nuestros consumidores, mientras promovemos prácticas agrícolas sostenibles.</p>
        </div>
    </div>
    <div class="row g-0 bg-body-secondary position-relative mb-5">
        <div class="col-md-6 p-4 ps-md-0">
            <h2 class="mt-0 py-3 fw-bold">VISIÓN</h2>
            <p>Ser la empresa líder en la producción de cereales saludables, innovando constantemente y adaptándonos a las necesidades del mercado para mejorar la calidad de vida de las personas.</p>
        </div>
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="img/carrucel2.jpg" class="w-100" alt="...">
        </div>
    </div>
    <div class="row g-0 bg-body-secondary position-relative mb-5">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="img/foto_familiar.jpg" class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h2 class="mt-0 py-3 fw-bold">OBJETIVOS</h2>
            <p>Nuestro objetivo es ofrecer productos nutritivos y de alta calidad, fomentar el desarrollo sostenible y ser un referente en el sector de los cereales, comprometidos con la innovación y la excelencia.</p>
        </div>
    </div>
</div>
<!-----------------------------------------------------------------------------EQUIPO DE TRABAJO----------------------------------------------------------------------------------------->
<div class="container mb-5">
    <h2 class="text-uppercase py-2 fw-bold">Nuestro Equipo</h2>
    <div class="container d-flex flex-md-row flex-column text-center justify-content-center align-items-center">
        <div class="card" style="width: 18rem;">
            <img src="img/perfil1.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">GIOVANNI: Nuestro equipo está dedicado a ofrecer la mejor calidad en todos nuestros productos.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="img/perfil2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">GABRIEL: Comprometidos con la excelencia y la innovación en el sector de cereales.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="img/perfil3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">JHONNY: Profesionales con amplia experiencia y dedicación en cada etapa de producción.</p>
            </div>
        </div>
        
    </div>
</div>